.footer{
    min-height: 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color:#1f1f1f;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  
  .footer__columns{
    display: flex;
    flex-direction: row;
    width:90%;
    justify-content: space-between;
  }
  .footer__column_content_copyright{
    flex-basis: 711px;
    justify-content: space-between;
  }
  
  .footer__column{
    display: flex;
    flex-direction: column;
  }
  
  .footer__author{
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    margin-bottom: 18px;
    margin-top: 18px;
    max-width: max-content;
    color: white;
  }
  
  .footer__column-heading{
    color:white;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-align: left;
  }
  
  .footer__column-links{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .footer__column-link{
    color: #F2F2F2;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer__column-link:hover{
    transition: opacity 1s ease;
    opacity: .66;
  }
  
  .footer__social-icon{
    height: 16px;
    width: 16px;
    padding-right: 10px;
  }