.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display:flex;
  position: relative;
  margin-bottom: 100px;
  background-color: #f2f2f2;
  z-index: 0;
  flex-direction: row;
}

.logo{
  height:32px;
  width:228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  order: 1;
  display: block;
}

.header__title {
  margin: 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  order: 2;
  align-self: center;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  order: 3;
} 

.header__link{
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  display: block;
  max-width: 765px;
  max-height: 608px;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  display: block;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: -2;
}

.description{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width:80%;
}

.two-columns__brief{
  width: 175px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text{
  min-width: 784px;
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph{
  padding: 0;
  margin: 0 0 30px 0;
  text-align: start;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.section-title{
  margin: 0;
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle{
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table{
  margin: 0 auto 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.table__cell{
  list-style-type: none;
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  margin-bottom: 20px;
  margin-top:0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text{
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text-author{
  margin:0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  position: relative;
  min-height:890px;
  margin-top: 100px;
  background-color: #f2f2f2;
  z-index: 0;
}

.feynman__title{
  margin: 0 auto;
  padding: 100px 0 70px;
  width:648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 999;
}

.feynman__subtitle{
  margin: 0;
  margin: auto;
  text-align: center;
  max-width: max-content;
  z-index: 999;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link{
  max-width: max-content;
  position: absolute;
  right: 48px;
  top:50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__image{
  position: absolute;
  width:837px;
  height:637px;
  left:0;
  bottom:0;
  z-index:-1;
}

 .kaufman{
  background-color:#1f1f1f;
  z-index: 0;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
 }

 .section-title_theme_dark{
  margin: 0 auto 20px;
  width: 60%;
  text-align: center;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
 }

 .section-subtitle_theme_dark{
  margin: 0 auto 0;
  width: 60%;
  text-align: center;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
 }
 .table_theme_dark{
  margin-top: 0;
 }

 .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark{
  margin: 0 0 0 20;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark{
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle{
  background-image: url('../images/kaufman-triangle.svg');
  height: 877px;
  width: 877px;
  background-size: cover;
  position: absolute;
  top:0;
  right:-210px;
  z-index: -1;
}

.footer{
  min-height: 350px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color:#1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns{
  display: flex;
  flex-direction: row;
  width:90%;
  justify-content: space-between;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column{
  display: flex;
  flex-direction: column;
}

.footer__author{
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
  max-width: max-content;
  color: white;
}

.footer__column-heading{
  color:white;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  text-align: left;
}

.footer__column-links{
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link{
  color: #F2F2F2;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__social-icon{
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

.margins_none{
  margin:0;
}